/* ---------Font-family---------------- */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    font-family: 'Fuzzy Bubbles', cursive;
}

/* ---------Font-family---------------- */

/* ----------Bg-body------------------- */


/* ----------Bg-body------------------- */

/* ---------Image de fond d'accueil et titre---------- */
.bgPicture {
    background-image: url(image/titre.png);
    height: 409px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
}

h1 {
    margin: 0;
    font-size: 5em;
    text-align: center;
    font-family: 'Anton', sans-serif;
    margin-right: 1%;
}

/* ---------Image de fond d'accueil et titre---------- */

/* ---------La nav barre------------*/
.flex, ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    width: 50%;
    list-style: none;
    justify-content: flex-end;
    font-weight: bold;
}

li {
    margin-right: 4%;
    font-size: 1.2em;
}

.logo {
    left: 30px;
    top: 2px;
}

.navBarre {
    width: 100%;
    background-color: #ffffc7;
    top: 0;
    border: 3px solid black;
    position: sticky;
}

a:hover {
    color: tomato;
}

a:link {
    text-decoration: none;
    color: black;
}

a:focus {
    color: yellowgreen;
}

/* ---------La nav barre------------*/


/* ----------barre de recherche (nav barre) */

/* ----------barre de recherche (nav barre) */

/* ----------articles page d'accueil---------------- */
.first {
    width: 50%;
}

.second {
    display: flex;
    align-items: flex-end;


}

/* ----------articles page d'accueil---------------- */

/*----------------- Les widgets /images Où partir---------------- */
.agde, .chm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.agdeP, .chmP {
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10%;
    margin-left: 10%;
    text-align: justify;
    padding: 20px 15px 0 15px;
    margin-top: 0px;
    margin-bottom: 2%;
}

.shadow {
    border: 1px solid black;
    box-shadow: 2px 2px 1px black;
    margin-bottom: 2%;

}

.oltra, .montalivet {
    height: 300px;
    margin-right: 2%;
    border: 2px solid rgba(0, 0, 0, 0.664);
    border-radius: 10%;
}

.aMr {
    margin-right: 2%;
}

.montalivet {
    width: 450px;
}

iframe {
    margin-right: 2%;
    border: 2px solid rgba(0, 0, 0, 0.664);
    border-radius: 10%;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Anton', sans-serif;
    color: black;
    background-color: #135814;
    ;
    height: 70px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxOuPartir {
    border: 1px solid black;
    box-shadow: black 1px 2px 2px;
    background-image: url(image/wood.jpg);
    padding: 20PX 30px;

}

/*----------------- Les widgets /images Où partir---------------- */


/* ------------Le formulaire-------------- */
.commu {
    margin-top: 95px;
}

.form2 {
    height: 40vh;
    padding: 100px;
    border: 2px solid black;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 10%;
    background-color: rgba(230, 208, 208, 0.836)
}

.topForm {
    display: flex;
    justify-content: center;
    width: 45%;
    margin-left: auto;
    margin-right: 30%;
    margin-bottom: 0;
}

.botForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


input {
    border-radius: 150px;
    background-color: white;
}

textarea {
    width: 40%;
    border-radius: 15px;
    background-color: white;
}

label {
    margin-top: 5%;
}

.mr15 {
    margin-right: 2%;
    margin-left: 2%;
}

#btn {
    margin-top: 5%;
}

.box {
    background-color: crimson;
    height: 80%;
}

#mail {
    padding-top: 0px;
    width: 442px;
    height: 28px;
}

input:hover {
    background-color: rgba(194, 202, 193, 0.842);
}

textarea:hover {
    background-color: rgba(194, 202, 193, 0.842);
}

/* ------------Le formulaire-------------- */

/* ---------Grille CSS pour page cliché----------- */

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 27px;
    grid-row-gap: 10px;
    margin-top: 3%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    text-align: justify;
    border: 2px black solid;
    border-radius: 15px;

    background-size: contain cover;
    padding: 10px 25px 0 25px;

}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
    text-align: justify;
    border: 2px black solid;
    border-radius: 15px;

    background-size: contain cover;
    padding: 10px 25px 0 25px;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    grid-area: 3 / 1 / 4 / 2;
    text-align: justify;
    border: 2px black solid;
    border-radius: 15px;

    background-size: contain cover;
    padding: 10px 25px 0 25px;
}

.div6 {
    grid-area: 3 / 2 / 4 / 3;
}

.div7 {
    grid-area: 4 / 2 / 5 / 3;
    text-align: justify;
    border: 2px black solid;
    border-radius: 15px;

    background-size: contain cover;
    padding: 10px 25px 0 25px;
}

.div8 {
    grid-area: 4 / 1 / 5 / 2;

}

.div9 {
    grid-area: 5 / 1 / 6 / 2;
    text-align: justify;
    border: 2px black solid;
    border-radius: 15px;

    background-size: contain cover;
    padding: 10px 25px 0 25px;
}

.div10 {
    grid-area: 5 / 2 / 6 / 3;
}

h2 {
    color: #135814;
}


/* ---------Grille CSS pour page cliché----------- */

/* -----------------------footers---------------------- */

footer {
    background-color: #135814;
    height: 80px;
    width: 100%;
}

/* -----------------------footers---------------------- */

/* ------------------Responsives------------------ */

@media screen and (max-width: 500px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div4 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .div5 {
        grid-area: 5 / 1 / 6 / 2;
    }

    .div6 {
        grid-area: 6 / 1 / 7 / 2;
    }

    .div7 {
        grid-area: 7 / 1 / 8 / 2;
    }

    .div8 {
        grid-area: 8 / 1 / 9 / 2;
    }

    .div9 {
        grid-area: 9 / 1 / 10 / 2;
    }

    .div10 {
        grid-area: 10 / 1 / 11 / 2;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .header-title {
        line-height: 50px;
        font-size: 22px;
    }

    ul, li {
        display: block;
    }

    li {
        height: 50px;
        line-height: 50px;
        padding: 0 12px;
        border-bottom: 1px solid #777;
        background: rgb(17,17,17);
    }

    #menu-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        overflow: hidden;
        background: #fff;
        color: #000;
        line-height: 50px;
        text-align: center;
        font-size: 40px;
        cursor: pointer;
        transition: all .5s;
    }


    #menu-button::after {
        content: '×';
    }

    #menu-button.close {
        color: #fff;
        background: #000;
    }

    #menu-button.close::after {
        content: '≡';
    }

    #menu {
        transition: transform .5s;
        position: absolute;
        width: 100%;
        max-width: 480px;
        transform: translateY(-400px);

    }

    #menu.show-menu {
        transform: translateY(67px);
    }

    .main {
        padding: 62px 12px 12px 12px;
    }

    .navBarre
    {
        overflow: hidden;
    }
}