/* ---------Font-family---------------- */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    font-family: 'Fuzzy Bubbles', cursive;
}

/* ---------Font-family---------------- */

/* ----------Bg-body------------------- */
body {
    background-image: url(image/bg.jpg);
}

/* ----------Bg-body------------------- */

/* ---------Image de fond d'accueil et titre---------- */
.bgPicture {
    background-image: url(image/titre.png);
    height: 409px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;

    justify-content: flex-end;
    color: white;
    font-weight: bold;
}

h1 {
    margin: 0;
    font-size: 5em;
    text-align: center;
    font-family: 'Anton', sans-serif;
    margin-right: 1%;
}

/* ---------Image de fond d'accueil et titre---------- */

/* ---------La nav barre------------*/
.flex, ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    width: 50%;
    list-style: none;
    justify-content: flex-end;
   font-weight: bold;

}

li {
    margin-right: 4%;
    font-size: 1.2em;
}

.logo {
    position: relative;
    left: 30px;
    top: 2px;
}

.navBarre {
    width: 100%;
    background-color: rgb(245, 245, 245);
    margin-bottom: 0;
 }

a:hover {
    color: tomato;
}

a:link {
    text-decoration: none;
    color: grey;
}

a:focus {
    color: yellowgreen;
}

/* ---------La nav barre------------*/


/* ----------barre de recherche (nav barre) */
#searchbox{
    
    padding: 26px;
}

/* ----------barre de recherche (nav barre) */

/*----------------- Les widgets /images Où partir---------------- */
.agde{
    display: flex;
    justify-content: center;
    align-items: center;
}

.agdeP{
    color: white;
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.123);
    width: 93%;
    margin-left: 5%;
}

.oltra{
    height: 300px;
    margin-right: 2%;
    border: 2px solid rgba(0, 0, 0, 0.664);
    border-radius: 10%;
}
iframe{
    margin-right: 2%;
    border: 2px solid rgba(0, 0, 0, 0.664);
    border-radius: 10%;
}
h3{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Anton', sans-serif;
    color: white;
}

.boxOuPartir{
    border: 1px solid black;
    box-shadow: black 1px 2px 2px;
    background-image: url(image/wood.jpg);
    
}
/*----------------- Les widgets /images Où partir---------------- */


/* ------------Le formulaire-------------- */

.form2 {
    height: 100vh;
    padding: 100px;
}

.topForm {
    display: flex;
    justify-content: center;
    width: 45%;
    margin-left: auto;
    margin-right: 30%;
    margin-bottom: 0;
}

.botForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


input {
    border-radius: 150px;
    background-color: rgba(193, 216, 112, 0.836);
}

textarea {
    width: 40%;
    border-radius: 15px;
    background-color: rgba(193, 216, 112, 0.836);
}

label {
    margin-top: 5%;
}

.mr15 {
    margin-right: 2%;
    margin-left: 2%;
}

#btn {
    margin-top: 5%;
}

.box {
    background-color: crimson;
    height: 80%;
}

#mail {
    padding-top: 0px;
    width: 442px;
    height: 28px;
}

input:hover {
    background-color: rgba(98, 224, 82, 0.795);
}

textarea:hover {
    background-color: rgba(98, 224, 82, 0.795);
}

/* ------------Le formulaire-------------- */